[submodule "libgit2"]
	path = libgit2
	url = https://github.com/libgit2/libgit2.git
	ignore = untracked
[submodule "libssh2"]
	path = libssh2
	url = https://github.com/libssh2/libssh2.git
	ignore = untracked
