<configuration>
    <dllmap os="linux" cpu="x86-64" wordsize="64" dll="git2-183da2c" target="lib/linux-x64/libgit2-183da2c.so" />
    <dllmap os="linux" cpu="arm" wordsize="32" dll="git2-183da2c" target="lib/linux-arm/libgit2-183da2c.so" />
    <dllmap os="linux" cpu="armv8" wordsize="64" dll="git2-183da2c" target="lib/linux-arm64/libgit2-183da2c.so" />
    <dllmap os="osx" cpu="x86-64" wordsize="64" dll="git2-183da2c" target="lib/osx-x64/libgit2-183da2c.dylib" />
</configuration>
