<configuration>
    <dllmap os="linux" cpu="x86-64" wordsize="64" dll="git2-2c5c31e" target="lib/linux-x64/libgit2-2c5c31e.so" />
    <dllmap os="linux" cpu="arm" wordsize="32" dll="git2-2c5c31e" target="lib/linux-arm/libgit2-2c5c31e.so" />
    <dllmap os="linux" cpu="armv8" wordsize="64" dll="git2-2c5c31e" target="lib/linux-arm64/libgit2-2c5c31e.so" />
    <dllmap os="osx" cpu="x86-64" wordsize="64" dll="git2-2c5c31e" target="lib/osx-x64/libgit2-2c5c31e.dylib" />
    <dllmap os="osx" cpu="armv8" wordsize="64" dll="git2-2c5c31e" target="lib/osx-arm64/libgit2-2c5c31e.dylib" />
</configuration>
